<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4">
            
                            <img src="http://127.0.0.1:8000/media/ug.jpg" width="50" height="70" style="padding-top: 20px;" alt="">
                
                        </div>
                        <div class="col-xl-4 m-2 py-2">
                            
                            <a class="navbar-brand" href="{%url 'dash-page'%}"><h1>UGSPACE</h1></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"></div>


        </div>

    </div>
  </nav>