<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <nav>
        <h1>UGSPACE</h1>
    </nav>
    <div><h2>Dashboard</h2></div>
    <div>
        <strong><strike>check published projects</strike></strong>
        
        {%load static%}

        <button>
            <a href="{% url 'open-file' %}">Check</a>
        </button>
    </div>
</body>
</html>